<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodexUI — Typography</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&family=Outfit:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../css_file/main.css">
    <link rel="icon" type="image/png" sizes="512x512" href="../logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.css"
        integrity="sha512-x9WwyMYBnlXMNQ6kQ/Lyzu1NqIhLQKL5Oq6xByfXuRj7s9CskyCbLv/1IjqzJmXwFXWr0ov6jBV7Qbc0hh9nHg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!--[font]-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Momo+Trust+Display&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar" id="navbar">
        <div style="display: flex; align-items: center; gap: 10px;">
            <a href="#home" class="logo font-4">NodexUI</a>
        </div>
        <a class="btnx" href="https://nodexui.github.io/docs.html">All components &nbsp; <i
                class="fa-solid fa-circle-chevron-right"></i></a>
    </nav><br><br>

    <main class="documentation">
        <div class="breadcrumbs">
            <a href="https://nodexui.github.io/docs.html">Docs</a>
            <span>/</span>
            <strong>Typography</strong>
        </div>

        <header class="page-heading">
            <span class="eyebrow">TYPOGRAPHY</span>
            <h1>Typography<em>.</em></h1>
            <p>
                Explore NodexUI fonts, and default styles.
            </p>
        </header>

        <aside class="on-this-page">
            <p>ON THIS PAGE</p>
            <a href="#fonts" class="current">Fonts</a>
            <a href="#radius">Radius style</a>
            <a href="#bg-color">Background color</a>
            <a href="#text-color">Text color</a>
        </aside>

        <section class="docs-section" id="fonts">
            <h2>Fonts</h2>
            <p>The default NodexUI fonts</p>
            <div class="example">
                <div class="preview">
                    <div class="font-1">1. Momo Trust Display</div>
                    <div class="font-2">2. Lilita One </div>
                    <div class="font-3">3. Outfit </div>
                    <div class="font-4">4. Gabarito </div>
                    <div class="font-5">5. Luckiest Guy </div>
                </div>

                <div class="ios-code-card"
                    style="background: #211339; margin: 0; width: 100%; border-radius: 0; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                    <div class="ios-code-header">
                        <div class="header-left">
                            <span class="lang-badge" style="color: rgb(150, 164, 250);">Code</span>
                        </div>

                        <button class="ios-copy-btn" style="color: rgb(150, 164, 250);" type="button"
                            aria-label="Copy code">
                            <svg class="btn-icon" viewBox="0 0 24 24">
                                <rect x="9" y="9" width="13" height="13" rx="3" ry="3"></rect>
                                <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                            </svg>
                            <span class="btn-text">Copy</span>
                        </button>
                    </div>

                    <div class="ios-code-body">
                        <pre class="pre-1"><code class="code-content">&lt;div class&#x3D;&quot;font-1&quot;&gt;NodexUI&lt;&#x2F;div&gt;
&lt;div class&#x3D;&quot;font-2&quot;&gt;NodexUI&lt;&#x2F;div&gt;
&lt;div class&#x3D;&quot;font-3&quot;&gt;NodexUI&lt;&#x2F;div&gt;
&lt;div class&#x3D;&quot;font-4&quot;&gt;NodexUI&lt;&#x2F;div&gt;
&lt;div class&#x3D;&quot;font-5&quot;&gt;NodexUI&lt;&#x2F;div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </section>

        <section class="docs-section" id="radius">
            <h2>Radius style</h2>
            <p>New radius style</p>

            <div class="example">
                <div class="preview">
                    <div class="card radius-new" style="border-radius: 50px;">
                        <h3 class="card-head">Title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                        <button><a href="#">Button</a></button>
                    </div>
                </div>

                <div class="ios-code-card"
                    style="background: #211339; margin: 0; width: 100%; border-radius: 0; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                    <div class="ios-code-header">
                        <div class="header-left">
                            <span class="lang-badge" style="color: rgb(150, 164, 250);">Code</span>
                        </div>

                        <button class="ios-copy-btn" style="color: rgb(150, 164, 250);" type="button"
                            aria-label="Copy code">
                            <svg class="btn-icon" viewBox="0 0 24 24">
                                <rect x="9" y="9" width="13" height="13" rx="3" ry="3"></rect>
                                <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                            </svg>
                            <span class="btn-text">Copy</span>
                        </button>
                    </div>

                    <div class="ios-code-body">
                        <pre
                            class="pre-1"><code class="code-content">&lt;div class&#x3D;&quot;radius-new&quot; style&#x3D;&quot;border-radius: 100px;&quot;&gt;&lt;&#x2F;div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </section>


        <section class="docs-section" id="bg-color">
            <h2>Background color</h2>
            <p>Background color and text color</p>

            <div class="example">
                <div class="preview">
                    <div class="card bg-white-100">bg-white-100</div>
                    <div class="card bg-white-200">bg-white-200</div>
                    <div class="card bg-white-300">bg-white-300</div>
                    <div class="card bg-black-100 text-white">bg-black-100</div>
                    <div class="card bg-black-200 text-white">bg-black-200</div>
                    <div class="card bg-black-300 text-white">bg-black-300</div>
                    <div class="card bg-purple-100 ">bg-purple-100</div>
                    <div class="card bg-purple-200 ">bg-purple-200</div>
                    <div class="card bg-purple-300 ">bg-purple-300</div>
                    <div class="card bg-blue-100 ">bg-blue-100</div>
                    <div class="card bg-blue-200 ">bg-blue-200</div>
                    <div class="card bg-blue-300 ">bg-blue-300</div>
                    <div class="card bg-yellow-100 ">bg-yellow-100</div>
                    <div class="card bg-yellow-200 ">bg-yellow-200</div>
                    <div class="card bg-yellow-300 ">bg-yellow-300</div>
                    <div class="card bg-red-100 ">bg-red-100</div>
                    <div class="card bg-red-200 ">bg-red-200</div>
                    <div class="card bg-red-300 ">bg-red-300</div>
                    <div class="card bg-green-100 ">bg-green-100</div>
                    <div class="card bg-green-200 ">bg-green-200</div>
                    <div class="card bg-green-300 ">bg-green-300</div>

                </div>
            </div>
        </section>

        <section class="docs-section" id="text-color">
            <h2>Text color</h2>
            <p>Text color with background color</p>

            <div class="example">
                <div class="preview">
                    <div class="card bg-black-100 text-white">text-white</div>
                    <div class="card bg-white-100 text-black">text-black</div>
                    <div class="card bg-white-100 text-purple">text-purple</div>
                    <div class="card bg-white-100 text-blue">text-blue</div>
                    <div class="card bg-white-100 text-yellow">text-yellow</div>
                    <div class="card bg-white-100 text-red">text-red</div>
                    <div class="card bg-white-100 text-green">text-green</div>
                </div>
            </div>
        </section>

    </main>

    <!-- Shared iOS Dynamic Toast Notification -->
    <div class="ios-toast" id="iosToast">
        <span class="toast-icon">
            <svg viewBox="0 0 24 24">
                <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
        </span>
        <span id="toastMessage">Copied to Clipboard</span>
    </div>
    <p style="border-top: 1px solid black; width: 90%; margin: auto;"></p><br>

    <div class="report-section" align="center">

        <div class="grids card-1">

            <div class="grid">
                <div class="dot-gr">
                    <div class="dot" style="background-color: #794cdb;"></div>
                    <div class="dot" style="background-color: #51dc4c;"></div>
                    <div class="dot" style="background-color: #f1e839;"></div>
                </div>
                <img class="img1" src="https://i.pinimg.com/736x/02/42/11/024211632bc59effde15ca6d809277f2.jpg" alt="">
            </div>
            <div class="grid">
                <h1 class="title1">Have any isuuse or bugs in components?</h1>
                <p>You can report to NodexUI team. Also you want any Changes in components, You can also contact us.</p>
                <button class="btn-report"><a href="https://nodexui.github.io/md/report.html">Report</a></button>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>