@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 0.3s;
    animation-timing-function: ease;
}

::view-transition-old(root) {
    animation-name: slide-out;
}

::view-transition-new(root) {
    animation-name: slide-in;
}

@-webkit-keyframes slide-in {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes slide-in {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}